* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* custom property */
:root {
    --color-black: #000000;
    --color-highlight: #e95a08;
    --font-default: #00000050;
    --bg: #67abea20;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.highlight {
    color: var(--color-highlight);
}

.uppercase {
    text-transform: uppercase;
}


/* shared style class */
.hidden {
    display: none;
}

.border {
    border: 1px solid #000000;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.just-between {
    justify-content: space-between;
}

.just-evenly {
    justify-content: space-evenly;
}

.just-around {
    justify-content: space-around;
}

.just-end {
    justify-content: end;
}

.text-center {
    text-align: center;
}

.center-x {
    justify-content: center;
}

.center-y {
    align-content: center;
}

.center-y-a {
    align-items: center;
}

.m-center {
    margin: 0 auto;
}

.m-upper {
    margin-top: 7.5rem;
}

.w-80 {
    width: 80%;
}



/* CSS styling starts from here */

body {
    background-color: var(--bg);
}


/* navbar */
.navbar {
    margin-top: 2rem;
}

.nav-image {
    width: 135px;
}

.menu-tags {
    gap: 4rem;

    font-size: 1.5rem;
}

.menu-tags li {
    list-style: none;
}

.menu-tags li a {
    text-decoration: none;
    color: var(--font-black);
}

/* navbar end */


/* banner */
.banner-content {
    /* align-content: baseline; */
    margin-top: auto;
    width: 50%;
}

.banner-title {
    font-size: 5.5rem;
    color: var(--color-black);
}

.banner-subtitle {
    font-size: 1.5rem;
    color: var(--font-default);
}

.banner-image {
    width: 50%;
}

/* banner end */


/* plants section */
.section-header-title {
    font-size: 3.4rem;
    color: var(--color-black);
}

.section-header-subtitle {
    margin-top: 2rem;

    font-size: 1.5rem;
    color: var(--font-default);
}

.plant-cards {
    margin-top: 4rem;

    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.85rem;
    column-gap: 1.25rem;
}

.plant-card {
    flex-direction: column;
}

.plant-card h3 {
    margin-top: 1.875rem;
    font-size: 1.28rem;
}

.plant-card h2 {
    margin-top: 1.25rem;

    font-size: 1.375rem;
}

.plant-card button {
    margin-top: 1.875rem;
    background-color: var(--color-highlight);
    border: none;
    padding: 1.25rem 5rem;

    color: white;
    font-size: 1rem;
}

/* plants section end */


/* lover section */
.lover-container {
    gap: 160px;
    margin-top: 200px;
}

.badge {
    width: 17.875rem;
    height: 17.875rem;
    margin-top: -7.9375rem;
    margin-left: -9.9375rem;
}

.lover-paragraph-box {
    width: 55%;
}

.lover-paragraph-box h1 {
    margin-bottom: 1.5rem;
    font-size: 3.125rem;
    color: var(--color-black);
}

.lover-paragraph-box ul li {
    margin-left: 2rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: var(--font-default);
}

/* lover section end */


/* deals section */
.flower-frames {
    margin-top: 6rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 12.5rem);
    gap: 1.75rem;

    grid-template-areas:
        "frame-1 frame-3 frame-3"
        "frame-2 frame-3 frame-3"
    ;
}

.flower-frame {
    padding: auto auto;
    border-radius: 1rem;
}

.flower-frame h3 {
    font-size: 1.25rem;
    color: white;
}

.flower-frame a {
    font-size: 1rem;
    color: white;
}

#flower-frame-1 {
    background-image: url(../assets/images/deal-bloom.png);
    background-size: cover;

    grid-area: frame-1;
}

#flower-frame-2 {
    background-image: url(../assets/images/deal-ana.png);
    background-size: cover;

    grid-area: frame-2;
}

#flower-frame-3 {
    background-image: url(../assets/images/deal-zabo.png);
    background-size: cover;

    grid-area: frame-3;
}

#flower-frame-3 h3 {
    font-size: 2.5rem;
}

#flower-frame-3 a {
    font-size: 1.75rem;
}

/* deals section end */


/* join section */
.join {
    padding: 12.5rem 20rem;

    background-image: url(../assets/images/news-letter-bg.png);
}

.join-now-title {
    margin-bottom: 1rem;

    font-size: 3.125rem;
    color: white;
}

.join-now-form input[type="email"] {
    width: 80%;
    padding: 1.25rem;
    border: none;

    font-size: 1.2rem;
    color: var(--font-default);
}

.join-now-form input[type="button"] {
    width: 20%;
    padding: 1.25rem;
    border: none;
    background-color: var(--color-highlight);

    font-size: 1.2rem;
    color: white;

    cursor: pointer;
}

/* join section end */


/* footer section */

/* footer section end */